{% extends 'base.html.twig' %}

{% block title %} Product   {% endblock %}

{% block body %}

You found {{ product.name }}. Great JOB!!!
    <br>
    <button type="button" onclick="myFunction(this)" id="1">Update {{ product.name }}</button>
    <br>
    <button type="button" onclick="myFunction(this)" id="2">Delete {{ product.name }}</button>
    <script>
        function myFunction (button){
            var x =button.id;
            switch (x) {
                case '1':
                    location.href = "{{ path('edit_product',{ id: product.id }) }}";
                    break;
                case '2':
                    location.href = "{{ path('delete_product',{ id: product.id }) }}";
                    break;
                default:
                    return false;
            }
        }
    </script>
    <br>

    Tags:
    {% for tags in product.tags %}

    {% endfor %}
    {% for tags in product.tags %}
    <table id="myTable">

            <td>
                <a class="navbar-brand" href="{{path('tag_show',{ id: tags.id })}}">
                    <i style="color: #444; font-size: 2rem;" class="pb-1 fad fa-cauldron"></i>
                    <p class="pl-2 d-inline font-weight-bold" style="color: #444;">#{{ tags.name }}</p>
                </a>
            </td>

      <!---      <td><a href="{{ path('edit_tag',{ id: tags.id }) }}" class="button">Update {{ tags.name }}</a>
            </td>
            --->
            <td><a href="{{ path('delete_tag',{ id: tags.id }) }}" class="button">Remove {{ tags.name }}</a>
            </td>
    </table>
    {% endfor %}

{% endblock %}